altair==5.1.2
beautifulsoup4==4.12.2
cufflinks==0.17.3
cufflinks1==0.17.4
matplotlib==3.8.1
matplotlib-inline==0.1.6
numpy==1.26.1
pandas==2.1.2
plotly==5.18.0
plotly-express==0.4.1
requests==2.31.0
scipy==1.11.3
seaborn==0.13.0
statsmodels==0.14.0
streamlit==1.28.1
ta==0.11.0
urllib3==2.0.7
yfinance==0.2.31
zipp==3.17.0